*.cfg
.DS_Store
*~
*.o
*.mod
*.a
*.exe
*.silo
*.cfg
*config.md
test_m_cross_sec
test_m_particle_core
test_m_photoi
/tests/test_openmp
/tests/test_swarm
/tests/ion_drift
/tests/test_m_cross_sec_summary_output.txt
